.main {
  display: flex;
  flex-direction: row;
	min-height: 100vh;
	font-family: var(--inter-font);
}

.one {
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 2.5rem;
}
.two {
	width: 40%;
	background-color: #2A2A26;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 4rem;
	line-height: 1.6;
	letter-spacing: normal;
}

.multiCap {
	color: #FFE279;
}

.formContainer {
	/* background-color: white; */
	/* border: 3 solid black; */
	margin: auto;
	border-radius: 15px;
	padding: 2rem;
}

.form {
	display: flex;
	flex-direction: column;
	background-color: transparent;
	width: 80%;
	margin: 0 auto;
	padding: 1rem;
	border-radius: 10px;
	width: 400px;
	height: 200px;
}

.form > * {
	margin: 0.5rem 0;
}
.form input {
	border: 1px solid #FFE279;
	border-radius: 20px;
	padding: 0.5rem 0.8rem;
	border: none;
}

.form button {
	border: 1px solid #FFE279;
	background-color: #FFE279;
	border-radius: 20px;
	padding: 12px;
	border: none;
}


.form button:hover {
	background-color: white;
	cursor: pointer;
}

.getStarted {
	background-color: #ECEDEE;
	border-radius: 20px;
	/* border: 1px solid #FFE279; */
	border: 1px solid #ECEDEE;
	padding: 12px;
}

.getStarted:hover {
	background-color: #FFE279;
	cursor: pointer;
}


@media screen and (max-width: 768px) {
	.main {
		flex-direction: column;
	}
	.one {
		width: 100%;
	}
	.two {
		width: 100%;
		padding: 3rem;
		height: 100%;
	}
}
